.app {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: #000000;
  color: rgb(250, 158, 0);
  padding-top: 30px;
  padding-bottom: 70px;
}
@media (max-width: 600px) {
  .app {
    display: flex;
    align-items: center;
    padding-top: 70px;
  }
}
.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  padding: 7px;
  margin: 5px 0;
  background-color: #000000;
  box-shadow: 0px 1px 5px rgb(250, 158, 0);
  border-radius: 50px;
  color: rgb(250, 158, 0);
}

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 6.4vw;
  }
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
